
.mui-toast-container {
    bottom: 50% !important; /*离布局底部的距离*/
}

.mui-toast-message {
    background-color: white;
    opacity: 1; /*toast中背景色的透明度*/
    color: red; /*toast中字体颜色*/
    width: 500px; /*toast宽度*/
    padding: 50px 10px; /*toast中文字的位置*/
    font-size: 30px;
}

#div_content {
    /* background-image: url(../images/background.png); */
    color: black;
    background: white;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#Top {
    height: 6%;
    color: black;
    background: white;
    /* background-image: url(../images/top.png); */
    /* background-size: 100% 100%; */
    font-size: 24px;
    padding: 1%;
    padding-top: 2%;
}

#Middle {
    /* background-image: url(../images/center.png); */
    color: black;
    background: white;
    background-size: 100% 100%;
    width: 60%;
    height: 50%;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 20%;  
    /* padding-top: 2em;    */
}

#Help {
    margin-left: 5%;
    width: 90%;
    height: 8%;
    font-size: 45px;
    color: black;
    background-color: white;
    background-size: 100% 100%;
    margin-top: 3%;
    padding: 4%;
}

#Foot {
    height: 6.5%;
    width: 100%;
    color: black;
    background: white;
    padding: 1%;
    bottom: 5px;
    position: absolute;
}

#Date {
    padding-right: 5%;
}

#showTitle {
    height: 15%;
    font-size: 45px;
    color: black;
    padding-top: 2em;
}

#showImg {
    padding-top: 6%;
}

#djImg {
    padding: -10px;
}

#phoneImg {
    height: 28px;
    padding: 2px;
}
p{
    font-size: 20px;
}
#inpt{
    padding-right:100px;
    width: 50%;
}
