.lblfont {
    font-size: 32px;
    color: white;
}

.lbl {
    padding-right: 5%;
}

.lblfont_bottom {
    font-size: 1.9em;
    color: white;
}

.mui-toast-container {
    bottom: 50% !important; /*离布局底部的距离*/
}

.mui-toast-message {
    background-color: white;
    opacity: 0.8; /*toast中背景色的透明度*/
    color: #080808; /*toast中字体颜色*/
    width: 300px; /*toast宽度*/
    padding: 50px 10px; /*toast中文字的位置*/
    font-size: 30px;
}

.content_middle {
    width: 90%;
    height: 55%;
    /*border: 1px solid red;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    /* overflow: hidden; */
}

.left {
    height: 100%;
    width: 50%;
}

.left_img {
    max-height: 100%;
    max-width: 100%;
}

#div_content {
    /* background-image: url(../images/background.png); */
    color: black;
    background: white;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
     overflow: hidden;
}

#Top {
    height: 6%;
    color: black;
    background: white;
    /* background-image: url(../images/top.png); */
    background-size: 100% 100%;
    padding-top: 0.5%;
    font-size: 20px;
}

#CountDown {
    text-align: center;
    padding-right: 5%;
    padding-top:5%;
    font-size: 18px;
    color: red;
}

.bottom {
    width: 90%;
    height: 30%;
    margin-top: 2%;
     background-size: 100% 100%; 
    position: absolute;
}

.bottom_txt {
    /* background-image: url(../images/yuan3.png); */
    background-size: 100% 100%;
    height: 40px;
    width: 200px;
    padding: 2%;
}

.left1 {
    padding: 5%;
}

.right {
    /* background-image: url(../images/center.png); */
    background-size: 100% 100%;
    height: 100%;
}

.right_head {
    padding-top: 30px;
    text-align: center;
    color: black;
    background: white;
    font-size: 35px;
}

.yuanjiao {
    /* background-image: url(../images/yuan3.png); */
    background-size: 100% 100%;
    height: 35px;
    width:150px;
}

#img_cash {
    width: 160px;
    height: 120px;
}

#div_cash {
    margin-top: 8%;
    text-align: center;
}

.msg {
    margin-top: 7%;
}
.span1{
    line-height: 40px;
    font-size:32px;
    color: dodgerblue;
}
#payInfo {
    margin: 3%;
}
.QR01{
    font-size: 24px;
    text-align:center;
}
.commoninfo{
    padding-left: 5%;
    padding-top: 10%;
    line-height: 50px;
    font-size: 20px;
}
.middleleft{
    padding-left: 10%;
}
#info{
    height: 450px;
    width: 100%;
    color: black;
    background-image: url(../images/infobac.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 15px;
    margin-top: 30px;
    
}
.constpay{
    padding-left: 23%;
    font-size: 26px;
    font-weight:bolder;
}
.constpay02{
    padding-left: 35%;
}

.inTM{
    padding-top: 1%;
     /* line-height: 40px; */
    font-size: 24px;
}
