.lblfont {
    font-size: 32px;
    color: black;
    background: white;
}

.lbl {
    padding-right: 5%;
}

.lblfont_bottom {
    font-size: 1.9em;
    color: black;
    background: white;
}

.mui-toast-container {
    bottom: 10% !important; /*离布局底部的距离*/
}

.mui-toast-message {
    background: white;
    opacity: 0.8; /*toast中背景色的透明度*/
    color: #080808; /*toast中字体颜色*/
    width: 300px; /*toast宽度*/
    padding: 50px 10px; /*toast中文字的位置*/
    font-size: 30px;
}

.content_middle {
    /* color: black;
    background: white; */
    width: 90%;
    height: 93%;
    /*border: 1px solid red;*/
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.left {
    height: 100%;
    width: 50%;
}

.left_img {
    max-height: 100%;
    max-width: 100%;
}

#div_content {
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
}

#Top {
    height: 6%;
    color: black;
    background: white;
    background-size: 100% 100%;
    padding-top: 0.5%;
    font-size: 24px;
}

#info{
    height: 700px;
    width: 100%;
    color: black;
    background-image: url(../images/infobac.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 32px;
    margin-top: 30px;
}

#CountDown {
    text-align: center;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 18px;
    color: red;
}

.bottom {
    width: 90%;
    height: 24%;
    margin-top: 2%;
    background-size: 100% 100%;  
    position: absolute;
}

.bottom_txt {
    /* background-image: url(../images/yuan3.png); */
    background-size: 100% 100%;
    height: 40px;
    width: 200px;
    padding: 2%;
}

.left1 {
    padding: 5%;
}

.right {
    /* background-image: url(../images/center.png); */
    background-size: 100% 100%;
    height: 100%;
}

.right_head {
    padding-top: 30px;
    text-align: center;
    color: black;
    background: white;
    font-size: 35px;
}

.yuanjiao {
    /* background-image: url(../images/yuan3.png); */
    background-size: 100% 100%;
    height: 35px;
    width:150px;
}

#img_cash {
    width: 160px;
    height: 120px;
}

#div_cash {
    margin-top: 20%;
    text-align: center;
}

.msg {
    margin-top: 7%;
}

#payInfo {
    margin: 1%;
}

.span1{
    line-height: 50px;
    font-size:32px;
    color: dodgerblue;
    display: inline;
}
.QR01{
    font-size: 32px;
    text-align:center;
}
.commoninfo{
    padding-left: 10%;
    padding-top: 10%;
    line-height: 80px;
    font-size: 23px;

}
.middleleft{
    padding-left: 10%;
}
.constpay{
    padding-left: 33%;
    font-size: 28px;
    font-weight:bolder;
}
.constpay02{
    padding-left: 50%;
}
constpay03{
    padding-left: 1%;
}
.inTM{
    padding-top: 3%;
    line-height: 40px;
    font-size: 24px;
}
.qrimg{
    width: 65%;
}
.cashimg{
    height: 45%;
    background-image: url(../images/cashmechine.png);
    background-size: 45% 100%;
    background-position:center center;
    background-repeat: no-repeat; 
    margin-left: 10%;
}