.lblfont {
    font-size: 32px;
    color: white;
}

.lbl {
    padding-right: 5%;
}

.lblfont_bottom {
    font-size: 1.9em;
    color: white;
}

.mui-toast-container {
    bottom: 50% !important; /*离布局底部的距离*/
}

.mui-toast-message {
    background-color: white;
    opacity: 0.8; /*toast中背景色的透明度*/
    color: #080808; /*toast中字体颜色*/
    width: 300px; /*toast宽度*/
    padding: 50px 10px; /*toast中文字的位置*/
    font-size: 30px;
}

.content_middle {
    width: 90%;
    height: 93%;
    /*border: 1px solid red;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    /* overflow: hidden; */
}

.left {
    height: 100%;
    width: 50%;
}

.left_img {
    max-height: 100%;
    max-width: 100%;
}

#div_content {
    min-width: 960px;
    color: black;
    background: white;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
     overflow: hidden;
}

#Top {
    height: 8%;
    color: black;
    background: white;
    background-image: url(../images/分割线.png);
    background-size: 100% 50%;
    font-size: 20px;
    padding-top: 0.5%;
    background-position-y: bottom;
    background-repeat:no-repeat;
}

#CountDown {
    text-align: center;
    padding-right: 5%;
    padding-top:5%;
    font-size: 18px;
    color: red;
}

.bottom {
    width: 90%;
    height: 30%;
    margin-top: 2%;
     background-size: 100% 100%; 
    position: absolute;
}

.bottom_txt {
    /* background-image: url(../images/yuan3.png); */
    background-size: 100% 100%;
    height: 40px;
    width: 200px;
    padding: 2%;
}

.left1 {
    padding: 5%;
}

.right {
    /* background-image: url(../images/center.png); */
    background-size: 100% 100%;
    height: 100%;
}

.right_head {
    padding-top: 30px;
    text-align: center;
    color: black;
    background: white;
    font-size: 35px;
}

.yuanjiao {
    /* background-image: url(../images/yuan3.png); */
    background-size: 100% 100%;
    height: 35px;
    width:150px;
}

#img_cash {
    width: 160px;
    height: 120px;
}

#div_cash {
    margin-top: 8%;
    text-align: center;
}

.msg {
    margin-top: 7%;
}
.span1{
    line-height: 60px;
    font-size:32px;
    color: dodgerblue;
}
.span2 {
    line-height: 60px;
    font-size: 32px;
    color: dodgerblue;
    display: inline;
    padding-left: 13%;
}
.span3 {
    line-height: 60px;
    font-size: 32px;
    color: dodgerblue;
    display: inline;
    padding-left: 20%;
}
.span4 {
    line-height: 60px;
    font-size: 32px;
    color: dodgerblue;
    display: inline;
    padding-left: 11%;
}
#payInfo {
    margin: 3%;
}
.QR01{
    font-size: 24px;
    text-align:center;
    margin-left:-20%;
}
.commoninfo{
    padding-left: 10%;
    padding-top: 2%;
    line-height: 70px;
    font-size: 22px;
}
.middleleft{
    padding-left: 10%;
}
#info{
    height: 500px;
    width: 100%;
    color: black;
    background-image: url(../images/infobac.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    padding-top: 15px;
    margin-top: 30px;
    
}
.constpay{
    padding-left: 17%;
    font-size: 26px;
    font-weight:bolder;
    display: inline;
}
.constpay02 {
    padding-left: 14%;
}

.constpay03 {
    padding-left: 1%;
}

.constpay04 {
    padding-left: 13%;
}

.constpay05 {
    padding-left: 25%;
}

.inTM{
    padding-top: 3%;
    line-height: 60px; 
    font-size: 24px;
}
.cashimg {
    height: 40%;
    background-image: url(../images/cashmechine.png);
    background-size: 40% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-top: -5%;
}
